
        #text{color:black;
        border-radius: 20px;
        background-color: rgb(156, 231, 231);
        margin: 10px;}
        .container{color: blue;
        padding: 10px;
        border-radius: 9px;
        padding-left: 30px;
        padding-right: 30px;}
